# Load rules once and periodically evaluate them according to the global 'evalu
rule_files:                                                                    
  # - "first_rules.yml"                                                        
  # - "second_rules.yml"                                                       
                                                                               
# A scrape configuration containing exactly one endpoint to scrape:            
# Here it's Prometheus itself.                                                 
scrape_configs:                                                                
  # The job name is added as a label `job=<job_name>` to any timeseries scraped
  - job_name: "prometheus"                                                     
                                                                               
    # metrics_path defaults to '/metrics'                                      
    # scheme defaults to 'http'.                                               
                                                                               
    static_configs:                                                            
      - targets: ["192.168.8.104:9090"]                                            
  - job_name: 'jenkins'                                                        
    metrics_path: /prometheus/                                                 
    static_configs:                                                            
    - targets: ['192.168.8.104:8080'] 
